node_modules
npm-debug.log
yarn-error.log
.env
.git
.gitignore
Dockerfile
docker-compose.yml
README.md
tests
biome.json
.sequelizerc
package-lock.json
pnpm-lock.yaml
yarn.lock
debug.log
uploads/*
!uploads/.gitkeep
